:root{
    --blanco:#ffffff;
    --osculo:#212121;
    --primario:#FFC107;
    --secundario:#0097a7;
    --gris:#757575; 
}

html{
    font-size: 62.5%;
}

body{
    /* 1rem = 10px */
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3.8rem; 
}

.titulo span{
    font-size: 2rem;
}

.contenedor{
    /* Asigna 120 rem como maximo de ancho en caso de no tener el espacio en pantalla toma el 100% del pantalla disponible, para ajustarse al diseño web responsive*/
    max-width: 120rem; 
    margin: 0 auto;
}

.navegacion-background{
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;

}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--osculo);
    padding: 1rem;
}

.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat; /*Para que la imagen no se repita cuando se haga mas amplia la resolución*/
    background-size: cover;
}

